{% extends 'app/base_manage.html' %} 
{% load static %} 
{% block model_menu %}
  <div class="row_manage">
    <div class="model_menu">
      <a href="{% url 'managecategory' %}" ><i class="fa-solid fa-table"></i>Thực đơn</a>
      <a href="{% url 'manageproduct' %}" ><i class="fa-solid fa-table"></i>Món ăn</a>
      <a href="{% url 'managetable' %}" ><i class="fa-solid fa-door-open"></i>Bàn/Phòng</a>
      <a href="{% url 'managebooking' %}" ><i class="fa-solid fa-door-open"></i>Đặt bàn</a>
      <a href="{% url 'managestaff' %}" ><i class="fa-solid fa-clipboard-user"></i>Nhân viên</a>
      <a href="{% url 'managecustomer' %}" ><i class="fa-solid fa-users"></i>Khách hàng</a>
      <button class="dropdown-btn">
        <i class="fa-solid fa-square-poll-vertical"></i>Thống kê
        <i class="fa fa-caret-down" style="width: auto; padding-top: 5px"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'daystatistics' %}" style="font-size: 1.2rem; padding: 0.6rem;">Hóa đơn theo ngày</a>
        <a href="{% url 'monthstatistics' %}"  style="font-size: 1.2rem; padding: 0.6rem;">Hóa đơn theo tháng</a>
      </div>
    </div>
    {% block content %}{% endblock content%}
    {% block scripts %}{% endblock scripts%}
    <!-- <div id="manage_content">
    
    </div> -->
  </div>
  
{% endblock model_menu %}
  

{% block script %}
  <script src="{%static 'app/js/manage2.js' %}" ></script>
{% endblock script%}



