{% extends 'app/base_manage.html' %} 
{% load static %} 

{% load humanize %}
{% load i18n %}
{% load l10n %}

{% block model_menu %}
<div class="row_manage">
  <div class="tables">
    <h3>Thông tin bàn</h3>
    <div class="tables_info">
      <button id="all_table">Tất cả</button>
      <button id="empty_table" style="background: aqua">Trống</button>
      <button id="busy_table" style="background: red">Bận</button>
    </div>
    <div id="all-table">
      <div class="tables_container" id="all-table">
        {% for table in tables %}
          <a href="{% url 'staff' %}?tableid={{table.id}}">
            <button class="table" data-product="{{table.id}}" data-action="choose" href="{% url 'detail' %}?productid={{product.id}}">
              {% if table.status == 'empty' %}  
                <img src="{% static '/images/table_empty.jpg' %}"/>
              {% else %}  
                <img src="{% static '/images/table_busy.jpg' %}"/>
              {% endif %}
                <p>{{table.name}}</p>
            </button>
          </a>
        {% endfor %}
      </div>
    </div>
    <div id="empty-table" style="display: none;">
      <div class="tables_container" id="empty-table">
        {% for table in tables %}
          {% if table.status == 'empty' %}  
            <a href="{% url 'staff' %}?tableid={{table.id}}">
              <button class="table" data-product="{{table.id}}" data-action="choose" href="{% url 'detail' %}?productid={{product.id}}">
              <img src="{% static '/images/table_empty.jpg' %}"/>
              <p>{{table.name}}</p>
              </button>
            </a>
          {% endif %}
        {% endfor %}  
      </div>
    </div>
    <div id="busy-table" style="display: none;">
      <div class="tables_container">
        {% for table in tables %}
          {% if table.status == 'busy' %}  
            <a href="{% url 'staff' %}?tableid={{table.id}}">
              <button class="table" data-product="{{table.id}}" data-action="choose" href="{% url 'detail' %}?productid={{product.id}}">
              <img src="{% static '/images/table_busy.jpg' %}"/>
              <p>{{table.name}}</p>
              </button>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="categories">
    <div class="categories_header">
      <h3>Thực đơn</h3>
      <!-- <form class="d-flex" role="search" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <input class="form-control me-2" style="width: 80%;" type="search" placeholder="Tìm kiếm" name="searchkey" aria-label="search">
        <button class="btn btn-outline-success" style="background: aliceblue;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form> -->
    </div>
    <div class="category">
      {% for category in categories %}
        <div class="category_detail">
          <div class="category_name"><p>{{category.name}}</p></div>
          <div class="products">
            {% for product in products %}
              {% if product.category == category %}
                <div class="col-lg-3">
                  <img class="thumbnail" src="{{product.image.url}}">
                  <div class="box-element product">
                      <div class="detail_product1">
                          <h6 class="name_product1"><strong>{{product.name}}</strong></h6>
                          <h6 class="price1" ><strong>{{product.price|floatformat:0}} đ</strong></h6>
                      </div>
                      <button class="btn-add update_bill" id="{{bill.id}}" data-product="{{product.id}}" data-action="add"><i class="fa-solid fa-circle-plus"></i></button>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="total_bill" id="total_bill">
    <div class="header_bill">
      <h3>Thông tin hóa đơn</h3>
      <div class="bill_info">
        {% if bill.id_table.count == 1 %}
          <h5>Bàn: {{bill.id_table.first.id}}</h5>
        {% else %}
          <h5>Bàn:{% for table in bill.id_table.all %} 
                    {% if table == bill.id_table.last %}
                      {{table.id}}
                    {% else %}
                      {{table.id}},
                    {% endif %}
                  {% endfor %}
          </h5>
        {% endif %}
        
      </div>
    </div>
    <div class="detail_bill">
      <div class="box-element">
        <div class="cart-row">
          <div class="cart-table" style="flex:2"><strong>Món</strong></div>
          <div class="cart-table" style="flex:1"><strong>Giá</strong></div>
          <div class="cart-table" style="flex:1"><strong>Số lượng</strong></div>
          <div class="cart-table" style="flex:1"><strong>Tổng giá</strong></div>
          <div style="width: 5%;"></div>
        </div>
        {% for detail in detailbill %}
          <div class="cart-row">
            <div class="cart-table" style="flex:2"><p>{{detail.product.name}}</p></div>
            <div class="cart-table" style="flex:1"><p>{{detail.product.price|floatformat:0}} đ</p></div>
            <div class="cart-table" style="flex:1">
              <p class="quantity">{{detail.quantity}}</p>
              <div class="quantity">
                <img class="chg-quantity update_bill" id="{{bill.id}}" data-product="{{detail.product.id}}" data-action="add" src="{% static  'app/images/arrow-up.png' %}">
            
                <img class="chg-quantity update_bill" id="{{bill.id}}" data-product="{{detail.product.id}}" data-action="remove" src="{% static  'app/images/arrow-down.png' %}">
              </div>
            </div>
            <div  class="cart-table" style="flex:1"><p>{{detail.get_total|floatformat:0}} đ</p></div>
            <div style="width: 5%;">
              <a style="color: red;"><i class="fa-solid fa-circle-xmark"></i></a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="total_btn_bill">
      <div class="total_btn">
        <h4>Tổng tiền: {{bill.get_bill_total|floatformat:0}} đ</h4>
        <div class="btn_bill" id="btn_bill">
          
          <div class="merge_table">
            <button class="left update_table" id="merge_table" data-table="{{table.id}}" data-action="merge">Gộp bàn</button>
            <select name="table_merge" id="table_merge">
              {% for table in tables %}
                {% if table not in bill.id_table.all %} 
                  <option value="{{table.id}}">{{table.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="change_table">
            {% if table.status == 'empty' %}
              <button class="left update_table" id="change_table" data-table="{{table.id}}" data-action="change" disabled>Chuyển bàn</button>
            {% else %}
              <button class="left update_table" id="change_table" data-table="{{table.id}}" data-action="change">Chuyển bàn</button>
            {% endif %}
              <select name="table_change" id="table_change">
              {% for table in tables %}
                {% if table.status == 'empty' and table.id != bill.id_table.id %} 
                  <option value="{{table.id}}">{{table.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="btn_checkout">
        <button id="btn_checkout" data-table="{{table.id}}" data-action="checkout" {% if table.status == 'empty' %} disabled {% endif %}>Thanh toán</button>
      </div>
    </div>
  </div>
</div>
<!-- The Modal Update Table-->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Thông báo!</h2>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body" id="modal-body">
      
    </div>
    <div class="modal-footer">
      <button class="btn_act" id="btn_act" data-table="{{table.id}}">Thực hiên</button>
      <button class="cancel" id="cancel">Hủy</button>
    </div>
  </div>
</div>

{% endblock model_menu %}
{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script> 
  <script src="{%static 'app/js/staff3.js' %}" ></script>
  <script>
    var  
    form = $('.detail_bill'), 
    cache_width = form.width(), 
    a4  =[ 595.28,  841.89];  // for a4 size pap
    //create pdf 
    function createPDF(id){ 
    // const  content =  '<!DOCTYPE html><html lang="en"> <head>'
    //                   +'<meta charset="utf-8"><title>Hóa đơn</title>'
    //                   +'<link rel="stylesheet" href="'+'{% static "app/css/bill.css" %}'+'" media="all" />'
    //                   +'</head><body>'
    //                   +'<header class="clearfix">'
    //                   +'<h1 style="width: 17cm">Thông tin hóa đơn</h1>'
    //                   +'<div id="company" class="clearfix">'
    //                   +'<div><span>Nhà hàng</span> Hương Quê</div>'
    //                   +'<div><span>Địa chỉ</span> 137 - Hùng Vương, Ngũ Hành Sơn, Đà Nẵng</div>'
    //                   +'<div><span>Email</span> <a href="mailto:royalrestaurant137@gmail.com">royalrestaurant137@gmail.com</a></div>'
    //                   +'</div>'
    //                   +'<div id="project">'
    //                   +'<div><span>Bàn</span>{% if bill.id_table.count == 1 %}'
    //                   +'{{bill.id_table.first.id}}'
    //                   +'{% else %}'
    //                   +'{% for table in bill.id_table.all %} '
    //                   +'{% if table == bill.id_table.last %}'
    //                   +'{{table.id}}'
    //                   +'{% else %}'
    //                   +'{{table.id}},'
    //                   +'{% endif %}'
    //                   +'{% endfor %}'
    //                   +'{% endif %}'
    //                   +'</div>'
    //                   +'<div><span>Nhân viên</span> Hoàng Nam</div>'
    //                   +'<div><span>Giờ vào</span> {{bill.date_created}}</div>'
    //                   +'<div><span>Giờ ra</span> {{datetime.now}}</div>'
    //                   +'</div>'
    //                   +'</header>'
    //                   +'<main>'
    //                   +'<table>'
    //                   +'<thead>'
    //                   +'<tr>'
    //                   +'<th class="service">Tên món</th>'+'<th>Đơn giá</th>'+'<th>Số lượng</th>'+'<th>Tổng giá</th>'+'</tr>'+'</thead>'
    //                   +'<tbody>'
    //                   +'{% for detail in detailbill %}'
    //                   +'<tr>'
    //                   +'<td class="service">{{detail.product.name}}</td>'
    //                   +'<td class="unit">{{detail.product.price|floatformat:0}} đ</td>'
    //                   +'<td class="qty">{{detail.quantity}}</td>'
    //                   +'<td class="total">{{detail.get_total|floatformat:0}} đ</td>'
    //                   +'</tr>'
    //                   +'{% endfor %}'
    //                   +'<tr>'
    //                   +'<td colspan="3" class="grand total">Tổng tiền</td>'
    //                   +'<td class="grand total">{{bill.get_bill_total|floatformat:0}} đ</td>'
    //                   +'</tr>'
    //                   +'<tr>'
    //                   +'<td class="word total">Bằng chữ</td>'
    //                   +'<td colspan="3" class="word total">{{ bill_total_word }} đồng</td>'
    //                   +'</tr>'
    //                   +'</tbody>'
    //                   +'</table>'
    //                   +'<!-- <div id="notices">'
    //                   +'<div>NOTICE:</div>'
    //                   +'<div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>'
    //                   +'</div> -->'
    //                   +'</main>'
    //                   +'<footer>'
    //                   +'Chúc quý khách một ngày vui vẻ. Hẹn gặp lại quý khách!'
    //                   +'</footer>'
    //                   +'</body>'
    //                   +'</html>';
      const printWindow = window.open('{% url "bill" bill.id %}', '_blank');
      // printWindow.document.write(content);
      // printWindow.document.close();
      printWindow.print();
    } 
  </script>
{% endblock %}
