{% extends "app/base.html" %}
{% block main-content %}
    <div class="panel panel-default">
        <div class="panel-heading" style="color:{% if vnp_ResponseCode == '00' %} #1aba2a; {% else %} #ff1414; {% endif %}">{{ title }}: {{ result }} !</div>
        <div class="panel-body">
            
            <p>Mã giao dịch: {{ vnp_TransactionNo }}</p>
            <p>Mã đặt bàn: {{ booking_id }}</p>
            <p>Số tiền thanh toán: {{ amount|floatformat:0 }}đ</p>
            <p>Nội dung thanh toán: {{ order_desc }}</p>    
            
            {% if msg %}
                <p class="alert-warning"> {{ msg }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
