body{
	background: antiquewhite;
}
.bg-body-tertiary {
    background-color: antiquewhite!important;
}
h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 5px;
}
.logo_name{
    height: 80px;
    margin: auto;
    width: 400px;
}
.bg_form{
	/* background-image: url('../images/bg_login.jpg');
    background-attachment: fixed; */
	background-color: hsl(0, 0%, 98%);
	height: 600px;
	box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	margin-bottom: 0.5rem;
}
.thumbnail{
	/* width: 345px; */
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.search_view{
	min-height: 600px;
}
.search_view h4{
	background-color: #fff;
}
.product{
	border-radius: 0 0 4px 4px;
}
.card-body {
    padding-left: 8rem;
    padding-right: 8rem;
}
.input_dj{
	float: right;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 22px;
	border-radius: 50%;
	font-size: 14px;
	float: right;
}

.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 5px;
    font-weight: bold;
    
}
.menu_top{
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
}
.menu_products{
	display: block;
	background: beige;
	list-style: none;
	width: 20%;
	margin-left: auto;
	height: 100%;
	border: 1px solid #71e5df;
	padding-bottom: 1rem;
}
.menu_products li{
	padding: 0.5rem;
	font-size: larger;
    font-weight: 500;
	margin-right: 1.5rem;
	border-bottom: 1px dashed #71e5df;
}
.menu_products a{
	text-decoration: none;
	color: #e91e63;
}
.menu_products img{
	margin-left: -2rem;
	width: 112%;
}
.top_products{
	display: block;
	width: 70%;
	margin-right: auto;
}
.header_top_products{
	text-align: center;
	box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.header_top_products h3{
	color: #c3222d;
}
.categories{
	padding: 1rem;
}
.categories .row{
	margin-top: 1rem
}
.row{
	background-color: hsl(0, 0%, 98%);
	box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	width: 100%;
	margin: auto;
    padding-bottom: 1rem;
}
.row_manage{
	background: #153f53;
	display: flex;
	flex-direction: row;
	min-height: 630px;
}
.row_manage .model_menu{
	background: #153f53;
	min-height: 630px;
	float: left;
	width: 15%;
}
.model_menu a, .dropdown-btn {
	padding: 20px 8px 14px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #f1f1f1;
	display: block;
	border: none;
	background: none;
	width:100%;
	text-align: left;
	cursor: pointer;
	outline: none;
	border-bottom: 1px dashed #71e5df;
}
.model_menu a:hover, .dropdown-btn:hover {
	color: #74dcf3;
}
.model_menu i{
	width: 35px;
}
.active_menu {
	background-color: #6599cc;
	color: rgb(66, 53, 53);
}
.dropdown-container {
	display: none;
	background-color:#f1f1f1;
	padding-left: 8px;
}
.dropdown-container a{
	color: #000;
	border-bottom: 1px dashed #71e5df;
}
.fa-caret-down {
	float: right;
	padding-right: 8px;
}

.row_manage .manage_content{
	min-height: 630px;
	width: 85%;
}
.header_categories{
	text-align: center;
	box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.tables {
	display: block;
	width: 23%;
}
.tables h3{
	text-align: center;
    color: #69fdfd;
    border-bottom: 3px solid #69fdfd;
    padding: 5px;
	border-right: 3px solid #69fdfd;
}
.tables_info {
	display: flex;
	padding: 0 0 5px 0;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid #69fdfd;
	border-right: 3px solid #69fdfd;
}
.tables_info button{
	min-width: 100px;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 500;
}
.tables_container {
	display: grid;
	gap: 30px;
	grid-template-columns: auto auto auto;
	padding: 10px;
	height: 630px;
	overflow: auto;
	/* overflow-x: hidden; */
}
.table {
	background: #cb8686;
	padding: 0;
	margin: 0;
}
.table img{
	width: 75px;
	height: 75px;
}
.table p{
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 0;
}
.row_manage .categories {
	width: 45%;
	padding: 0;
    border-left: 3px solid #153f53;
	border-right: 3px solid #153f53;
}
.categories form{
	justify-content: center;
	padding: 0 5px 5px 5px;
	border-bottom: 3px solid #69fdfd;
	border-right: 3px solid #69fdfd;
}
.categories h3{
	text-align: center;
    color: #69fdfd;
    border-bottom: 3px solid #69fdfd;
	border-right: 3px solid #69fdfd;
    padding: 5px;
}
.categories .category {
	height: 625px;
	overflow: auto;
	padding: 0;
}
.category .category_detail{
	border-bottom: 3px solid #69fdfd;
}
.categories p{
	background: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
	margin-bottom: 0;
}
.categories .products{
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	gap: 0.95rem; 
	width: 100%;
	margin: auto;
	padding: 0.5rem 1rem;
}
.products .col-lg-3{
	width: 23%;
	height: 150px;
    margin-top: 0;
}
.products .thumbnail{
	height: 50%;
}
.detail_product1 h6{
	font-size: 15px;
	margin-bottom: 5px;
}
.products a{
	display: flex;
	align-items: center;
	justify-content: center;
}
.total_bill {
	width: 35%;
	height: 725px;
	overflow: auto;
}
.total_bill h3{
	text-align: center;
    color: #69fdfd;
    border-bottom: 3px solid #69fdfd;
	border-right: 3px solid #69fdfd;
    padding: 5px;
}
.total_bill .bill_info{
	display: flex;
	padding: 0 0 5px 0;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid #69fdfd;
	border-right: 3px solid #69fdfd;
}
.bill_info h5{
	text-align: center;
    color: #69fdfd;
}
.total_bill .detail_bill{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 5px;
	height: 70%;
	overflow: auto;
}
.total_bill .total_btn_bill{
	display: flex;
}
.total_btn_bill .total_btn{
	width: 70%;
}
.total_btn h4{
	color: #faebd7;
    padding: 0.5rem;
}
.total_btn .btn_bill{
	display: flex;
}
.btn_bill button{
	font-size: 1.25rem;
    width: 50%;
}
.btn_bill .left{
	border-radius: 15px 0 0 15px;
}
.btn_bill .right{
	border-radius: 0 15px 15px 0;
}
.total_btn_bill .btn_checkout{
	width: 30%;
	padding: 5px;
}
.btn_checkout button{
	background: #69fdfd;
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 10px;
}
.header_categories h4{
	color: #000;
}
.row-image{
	width: 100px;
}
.form-field{
	width:340px;
	display: inline-block;
	padding: 5px;
}
.detail_product{
	display: flex; 
	flex-direction: row; 
	width: 100%;
}
.name_product{
	width: 50%;
}
.price{
	text-align: right; 
	float: right; 
	width: 50%;
}
.cart-row{
	display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
.cart-table{
	display: flex;
    align-items: center;
    justify-content: center;
}
.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}
.cart-table p{
	margin: 0px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
/* -----------footer------------- */
.footer {
	margin: 15px 15px 15px 15px;
	display: flex;
}

.footer .col {
	width: 50%;
	padding: 0 2%;
}

.footer h4 {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 5px;
}
.footer ul {
	list-style: none;
}

.col li {
	font-size: 1rem;
	padding: 10px 20px;
}
@media screen and (max-width: 900px) {
	.footer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.footer .col {
		width: 90%;
		margin-top: 1rem;
	}
}
.card{
    border:none
}
.product{
    background-color: #eee
}
.brand{
    font-size: 13px
}
.act-price{
    color:red;
    font-weight: 700
    }
.dis-price{
    text-decoration: line-through
}
.about{
    font-size: 14px
}
.color{
    margin-bottom:10px
}
label.radio{
    cursor: pointer
}
label.radio input{
    position: absolute;
    top: 0;left: 0;
    visibility: hidden;
    pointer-events: none
}
label.radio span{
    padding: 2px 9px;
    border: 2px solid #ff0000;
    display: inline-block;
    color: #ff0000;
    border-radius: 3px;
    text-transform: uppercase
}
label.radio input:checked+span{
    border-color: #ff0000;
    background-color: #ff0000;
    color: #fff
}
.btn-danger{
    background-color: #ff0000 !important;
    border-color: #ff0000 !important
}
.btn-danger:hover{
        background-color: #da0606 !important;
        border-color: #da0606 !important
}
.btn-danger:focus{
    box-shadow: none
}
.cart i{
    margin-right: 10px
}